In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pyfim
from sys  import argv, stderr, maxsize

In [30]:
# загрузим данные
dataset = pd.read_csv('src/data/Market_Basket_Optimisation.csv', header = None)

In [31]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
min_supp = 200

In [46]:
item_dict = dict()

In [47]:
for index, row in dataset.iterrows():
    row_wo_na = row.dropna().unique()
    for item in row_wo_na:
        item = item.strip()
        if item in item_dict:
            item_dict[item][0] += 1
        else:
            item_dict.setdefault(item, []).append(1)
        item_dict[item].append(index) #later a more sofisticated data structure can be used to search more efficient