In [1]:
import numpy as np
import pandas as pd
from my_eclat import Eclat

In [2]:
# загрузим данные
dataset = pd.read_csv('src/data/Market_Basket_Optimisation.csv', header = None)

In [3]:
dataset.shape[0]

7501

In [4]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
model = Eclat(min_support = 0.01, max_items = 4, min_items = 3)

In [6]:
%%time
model.fit(dataset)

min_supp 75.01
CPU times: user 3.03 s, sys: 0 ns, total: 3.03 s
Wall time: 3.03 s

In [7]:
d = model.transform()

In [8]:
d

{'eggs | spaghetti | chocolate': '1.0531929076%',
 'milk | spaghetti | chocolate': '1.0931875750%',
 'mineral water | chocolate | ground beef': '1.0931875750%',
 'mineral water | eggs | chocolate': '1.3464871350%',
 'mineral water | eggs | ground beef': '1.0131982402%',
 'mineral water | eggs | milk': '1.3064924677%',
 'mineral water | eggs | spaghetti': '1.4264764698%',
 'mineral water | french fries | spaghetti': '1.0131982402%',
 'mineral water | frozen vegetables | spaghetti': '1.1998400213%',
 'mineral water | milk | chocolate': '1.3998133582%',
 'mineral water | milk | frozen vegetables': '1.1065191308%',
 'mineral water | milk | ground beef': '1.1065191308%',
 'mineral water | milk | spaghetti': '1.5731235835%',
 'mineral water | olive oil | spaghetti': '1.0265297960%',
 'mineral water | spaghetti | chocolate': '1.5864551393%',
 'mineral water | spaghetti | ground beef': '1.7064391414%',
 'mineral water | spaghetti | pancakes': '1.1465137982%'}